:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* <----------  Nav-bar  -----------> */
.navbar-container {
  align-items: center;
  display: flex;
  max-height: 5rem;
  margin-left: -0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  top: -0.5rem;
  width: 101.14%;
}

.nav-home-logo {
  aspect-ratio: 1/1;
  cursor: pointer;
  height: 6rem;
  margin-left: 2rem;
  margin-right: 63rem;
  margin-top: 1rem;
  position: relative;
}

.nav-link {
  color: black;
  cursor: pointer;
  font-family: optima, sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  text-decoration: underline;
  width: auto;
}

.nav-link:hover {
  color: blue;
}

/* <---------- Home Page ----------> */
.page-background {
  background-attachment: fixed;
  background-image: url('https://uploads-ssl.webflow.com/5f00ac7516929863f832df2c/5f4bfbcbb2f92145c5b96518_06.%20Wisteria.jpg');
  background-position: 50%;
  background-size: cover;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 0;
}

.home-page {
  position: relative;
  z-index: 1;
}

.home-title {
  font-family: optima, sans-serif;
  font-size: 6rem;
  margin-top: 5rem;
  text-align: center;
}

.home-footer {
  background-color: rgb(0, 0, 0);
  height: 15rem;
  margin-left: -0.5rem;
  position: relative;
  top: 30rem;
  width: 101.14%;
}

.home-footer-copyright {
  background-color: rgb(200, 200, 200);
  color: rgb(56, 56, 56);
  font-size: 1rem;
  max-height: 2rem;
  margin-top: 12rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
}