:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}










/* <----------  Nav-bar  -----------> */
.navbar-container {
  align-items: center;
  display: flex;
  height: 6rem;
  margin-left: -0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  top: 1rem;
  width: 101.14%;
}

.nav-home-logo {
  aspect-ratio: 1/1;
  cursor: pointer;
  height: 6rem;
  margin-left: 2rem;
  margin-right: 63rem;
  position: relative;
}

.nav-link {
  color: black;
  cursor: pointer;
  font-family: optima, sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  text-decoration: underline;
}

.nav-link:hover {
  color: blue;
}

.modal-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 23.5rem;
  margin-top: -1rem;
  margin-left: 65rem;
  opacity: 1;
  position: absolute;
  transition: opacity 0.5s;
  width: 25%;
  z-index: 2;
}

.modal-container.hide {
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-left: 1rem;
}

.cart-items-container {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  height: 60%;
  margin-left: 5%;
  overflow-x: hidden;
  padding: 1rem;
  max-width: 18rem;
}

.last-cart-product {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-left: 2.5%;
  transition: all 200ms;
  width: 90%;
}

.cart-product-image {
  height: 10rem;
  margin-top: 1rem;
  object-fit: cover;
  width: 10rem;
}

.cart-product-price {
  display: block;
  position: relative;
  text-align: right;
}

.cart-remove-btn {
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1.25rem;
  height: 2rem;
  position: relative;
  margin-left: 130%;
  margin-top: -13.5rem;
  width: 2rem;
}

.cart-remove-btn:hover {
  color: grey;
}

.cart-product {
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: 75% 25%;
  margin-left: 2.5%;
  transition: all 200ms;
  width: 95%;
}

.empty-cart {
  left: 6rem;
  position:absolute;
  top: 10.5rem;
}

.modal-checkout-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

.modal-total {
  margin-left: 1rem;
}

.modal-checkout-btn {
  background-color: black;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  height: 60%;
  margin-left: 40%;
  margin-top: 0.65rem;
  transition: all 200ms;
  width: 40%;
}

.modal-checkout-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  transition: all 200ms;
}

.close-modal {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

.close-modal:hover {
  color: grey;
}










/* <---------- Home Page ----------> */
.page-background {
  background-attachment: fixed;
  background-image: url('https://uploads-ssl.webflow.com/5f00ac7516929863f832df2c/5f4bfbcbb2f92145c5b96518_06.%20Wisteria.jpg');
  background-position: 50%;
  background-size: cover;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 0;
}

.home-page {
  position: relative;
  z-index: 1;
}

.home-title {
  font-family: optima, sans-serif;
  font-size: 6rem;
  margin-top: 6rem;
  text-align: center;
}

.home-page-main-content {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 11rem;
}

.filter-section {
  background-color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-left: -0.5rem;
  margin-top: -3rem;
  height: 60rem;
  padding: 1rem;
  width: 90%;
}

.filter-category-title {
  font-family: Optima, sans-serif;
  font-size: 1.25rem;
}

.filter-category {
  cursor: pointer;
  clear: both;
  font-size: 1.1rem;
  float: left;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  text-decoration: underline;
}

.filter-category:hover{
  color: blue;
}

.filter-sizes-title {
  clear: both;
  font-family: Optima, sans-serif;
  font-size: 1.25rem;
  margin-top: 5rem;
}

.products-container {
  column-gap: 2%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  margin-left: 2%;
  min-height: 60rem;
  position: relative;
  row-gap: 2rem;
  width: 96%;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
              rgba(240, 46, 170, 0.3) 10px 10px, 
              rgba(240, 46, 170, 0.2) 15px 15px,
              rgba(240, 46, 170, 0.1) 20px 20px;
  cursor: pointer;
  font-family: Trebuchet MS, sans-serif;
  height: 25rem;
  padding: 1rem;
  position: relative;
  transition: all 300ms
}

.product-card:hover {
  transform: scale(1.025);
  transition: all 300ms;
}

.product-img {
  height: 16rem;
  object-fit: cover;
  margin-left: 10%;
  margin-top: 1rem;
  position: relative;
  width: 80%;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1.5rem;
}

.sizes-container {
  display: flex;
  margin-bottom: 0.75rem;
  margin-top: -0.25rem;
  padding-left: 0.5rem;
}

.size-btn {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  height: 1.5rem;
  margin-left: 0.5rem;
  transition: all 300ms;
  width: 2.25rem;
}

.strikethrough {
  border: 1px solid black;
  margin-bottom: 0.6rem;
  margin-left: 0.57rem;
  margin-top: -0.8rem;
  transform: rotate(153deg);
  width: 2rem;
}

.product-details {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: -1rem;
  width: 100%;
}

.product-price {
  color: orangered; 
  margin-left: 1.5rem;
}

.home-footer {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 20rem;
  margin-left: -0.5rem;
  position: relative;
  top: 14rem;
  width: 101.14%;
}

.home-footer-copyright {
  background-color: rgb(200, 200, 200);
  color: rgb(56, 56, 56);
  font-size: 1rem;
  max-height: 2rem;
  margin-top: 17rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
}









/* <---------- Product Page ----------> */
.product-page-title {
  font-family: optima, sans-serif;
  font-size: 3.5rem;
  margin-left: 35%;
  margin-top: -5rem;
  position: relative;
  text-align: center;
  width: 30%;
}

.product-page-main-content {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 11rem;
  position: relative;
  z-index: 1;
}

.product-images-container {
  display: flex;
  justify-content: flex-end;
  height: 35.13rem;
}

.product-displayed-image {
  aspect-ratio: 1/1;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 12px;
  height: 35rem;
  margin-right: 5%;
  object-fit: cover;
  width: 60%;
}

.product-page-details h1{
  font-size: 3rem;
  height: auto;
  margin-left: 5%;
  margin-bottom: -0.5rem;
  margin-top: 1.5rem;
  width: 90%;
}

.product-page-details h2 {
  margin-bottom: -1rem;
  margin-left: 6%;
  width: 89%;
}

.product-page-price {
  color: orangered;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  margin-left: 6%;
}

.product-page-sizes-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1.5rem;
  margin-left: 5.5rem;
  row-gap: 0.8rem;
  width: 40%;
}

.product-page-size-btn-container {
  position: relative;
}

.product-page-size-btn-container button {
  aspect-ratio: 1/1;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
  height: 2.5rem;
  margin-left: 10%;
  transition: all 300ms;
  width: 120%;
}

.product-page-size-btn-container button:hover {
  background-color: grey;
  transform: scale(1.1);
  transition: all 300ms;
}

.product-page-size-btn-container button:focus {
  background-color: grey;
  transform: scale(1.1);
  transition: all 300ms;
}

.product-page-add-to-cart-btn {
  background-color: black;
  border: 2px solid grey;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  height: 5rem;
  margin-left: 5rem;
  margin-top: 4rem;
  transition: all 300ms;
  width: 60%;
}

.product-page-add-to-cart-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 300ms;
}

.product-page-add-to-cart-btn p{
  border: 1px solid black;
  color: grey;
}