:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  font-family: Andale Mono, monospace;
}










/* <----------  Nav-bar  -----------> */
.navbar-container {
  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  padding-bottom: 1rem;
  padding-top: 0;
  position: relative;
  top: 1rem;
  width: 100vw;
}

.nav-home-logo {
  aspect-ratio: 1/1;
  cursor: pointer;
  height: 6rem;
  margin-left: 2rem;
  position: relative;
}

.toggled-navbar-menu {
  cursor: pointer;
  opacity: 0;
  width: 40px;
}

.bar {
  border-radius: 10px;
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  margin-left: 7.5px;
}

.toggled-navlinks {
  opacity: 1;
}

@media(max-width: 780px){
  .navbar-container {
    display: grid;
    grid-template-columns: 50% 0% 50%;
  }

  .toggled-navbar-menu{
    aspect-ratio: 1/1;
    height: 38px;
    margin-left: 80%;
    opacity: 1;
    position: absolute;
    width: 50px;
  }

  .toggled-navlinks {
    opacity: 0;
  }
}

.nav-link {
  color: black;
  cursor: pointer;
  font-family: optima, sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
  text-decoration: underline;
}

.nav-link:hover {
  color: blue;
}

.cart-modal-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 10px 5px, 
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 23.5rem;
  margin-top: -1rem;
  margin-left: 72%;
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s;
  width: 25%;
  z-index: 2;
}

@media(max-width: 1000px){
  .cart-modal-container {
    margin-left: 0;
  }
}

.cart-modal-container.hide {
  opacity: 0;
  pointer-events: none;
}

.close-modal {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

.close-modal:hover {
  color: grey;
}

.modal-title {
  font-family: optima, sans-serif;
  margin-left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 102px;
}

.cart-items-container {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  height: 60%;
  margin-left: 50%;
  overflow-x: hidden;
  padding: 1rem;
  transform: translateX(-50%);
  width: 80%;
}

.last-cart-product {
  margin-left: 2.5%;
  margin-top: -1rem;
  transition: all 200ms;
  width: 95%;
}

.cart-remove-btn {
  color: black;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  height: 2rem;
  margin-top: 1rem;
  margin-right: -0.75rem;
}

.cart-remove-btn:hover {
  color: grey;
}

.cart-main-content {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: -1rem;
}

.cart-product-image {
  border: 1px solid grey;
  border-radius: 10px;
  height: 13rem;
  margin-bottom: 1rem;
  margin-left: -5%;
  margin-top: 1rem;
  object-fit: cover;
  width: 100%;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.cart-product-name {
  font-size: 1.1rem;
}

.cart-product-size-quan {
  display: flex;
  margin-top: -1rem;
}

.cart-product-size {
  display: inline-block;
}

.cart-product-quantity {
  display: inline-block;
  margin-left: 70%;
}

.cart-product-total{
  margin-top: 0;
}

.cart-product {
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  margin-left: 2.5%;
  transition: all 200ms;
  width: 95%;
}

.empty-cart {
  left: 5%;
  position:absolute;
  text-align: center;
  top: 40%;
  width: 85%;
}

.modal-checkout-details {
  display: grid;
  grid-template-columns: 50% 50%;
}

.modal-total {
  margin-left: 1rem;
}

.modal-checkout-btn {
  background-color: black;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  height: 60%;
  margin-left: 48%;
  margin-top: 0.65rem;
  transition: all 200ms;
  width: 40%;
}

.modal-checkout-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  transition: all 200ms;
}

.modal-sign-title {
  margin-left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 100px;
}

.sign-modal-container {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 10px 5px, 
              rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: auto;
  margin-top: -1rem;
  margin-left: 72%;
  opacity: 1;
  position: absolute;
  transition: opacity 0.5s;
  width: 25%;
  z-index: 2;
}

.sign-modal-container.hide {
  opacity: 0;
  pointer-events: none;
}

.input-group{
  font-size: 1rem;
  margin-left: 10%;
  position: relative;
  --primary: #2196f3;
  width: 80%;
}

.login-label{
  color: rgb(136,137,142);
  left: 0.25rem;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.login-input{
  all: unset;
  background-color: white;
  border-bottom: 1px solid black;
  color: #000000;
  height: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: 200ms
    cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.login-input:focus {
  border-bottom: 1px solid
    var(--primary);
}

.login-input:is(:focus, :valid) ~ label {
  background-color: white;
  color: var(--primary);
  padding-inline: 0.3rem;
  transform:
    translateY(-130%)
    scale(0.9);
}

.login-btn{
  background-color:black;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  color: white;
  cursor: pointer;
  height: 1.75rem;
  margin-bottom: 1.5rem;
  margin-left: 30%;
  transition: all 200ms;
  width: 40%;
}

.login-btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  transition: all 200ms;
}










/* <---------- Home Page ----------> */

.page-background {
  background-attachment: fixed;
  background-image: url('https://uploads-ssl.webflow.com/5f00ac7516929863f832df2c/5f4bfbcbb2f92145c5b96518_06.%20Wisteria.jpg');
  background-position: 50% 50%;
  background-size: cover;
  overflow-x: hidden;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  scroll-behavior:smooth;
  width: 100vw;
  z-index: 0;
}

.home-page {
  position: relative;
  z-index: 1;
}

.home-title {
  font-family: optima, sans-serif;
  font-size: 6rem;
  margin-top: 6rem;
  text-align: center;
}

.home-page-main-content {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 11rem;
  width: 100%;
}

.filter-section {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-left: -0.5rem;
  margin-top: -2rem;
  height: 25rem;
  padding: 1rem;
  width: 90%;
}

.filter-search-bar {
  border: 1px solid grey;
  border-radius: 10px;
  height: 1.5rem;
  margin-left: -0.25rem;
  margin-top: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  width: 97%;
}

.filter-title {
  border-bottom: 1px solid black;
  font-family: Optima, sans-serif;
  font-size: 1.25rem;
  height: 1.5rem;
  margin-top: 2rem;
}

.filter-title + p{
  margin-top: -1.25rem;
}

.filter-category {
  border-bottom: 1px solid black;
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  margin-top: -1rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  transition: all 500ms;
}

.filter-category:hover{
  background-color: rgb(203, 203, 203);
  color: blue;
  transition: all 500ms;
}

.products-container {
  box-sizing: border-box;
  column-gap: 2.5%;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  height: auto;
  overflow-x: hidden;
  overflow-y: visible;
  margin-left: 2%;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  position: relative;
  row-gap: 2rem;
  width: 96%;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
              rgba(240, 46, 170, 0.3) 10px 10px, 
              rgba(240, 46, 170, 0.2) 15px 15px,
              rgba(240, 46, 170, 0.1) 20px 20px;
  cursor: pointer;
  font-family: Trebuchet MS, sans-serif;
  height: auto;
  padding: 0;
  position: relative;
  transition: all 300ms;
  width: 100%;
}

.product-card:hover {
  transform: scale(1.025);
  transition: all 300ms;
}

.product-img {
  aspect-ratio: 1/1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: contain;
  position: relative;
  width: 100%;
}

@media (max-width: 400px){
  .product-img {
    height: 220px;
    width: 100%;
  }
}

@media (max-width:1400px){
  .filter-section{
    display: none;
  }

  .home-page-main-content {
    grid-template-columns: 100%;
  }
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

.product-title~p {
  color: rgb(58, 58, 58);
  margin-left: 0.25rem;
  margin-top: -0.75rem;
}

.product-price {
  color: orangered;
  float: right;
  margin-right: 1.25rem;
  margin-top: -2.5rem;
}

.sizes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 5%;
  margin-top: -0.25rem;
  width: 70%;
}

.size-btn {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  height: 1.5rem;
  transition: all 300ms;
  width: 2.25rem;
}

.strikethrough {
  border: 1px solid black;
  margin-left: 8%;
  margin-top: -31.5%;
  transform: rotate(151deg);
  width: 1.8rem;
}

@media (max-width: 1100px){
  .filter-section {
    display: none
  }

  .home-page-main-content {
    grid-template-columns: 100%;
  }

  .products-container {
    column-gap: 7%;
    grid-template-columns: 45% 45%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }

  .sizes-container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 780px){
  .home-title {
    font-size: 4rem;
  }

  .products-container {
    grid-template-columns: 100%;
    margin-left: 50%;
    margin-top: -3rem;
    transform: translateX(-50%);
  }

  .product-card {
    margin-left: 10%;
    width: 80%;
  }
}

.home-footer {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 20rem;
  margin-left: -0.5rem;
  position: relative;
  top: 14rem;
  width: 100vw;
}

.home-footer-copyright {
  background-color: rgb(200, 200, 200);
  color: rgb(56, 56, 56);
  font-size: 1rem;
  max-height: 2rem;
  margin-top: 17rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  width: 100%;
}









/* <---------- Product Page ----------> */
.product-page-title {
  font-family: optima, sans-serif;
  font-size: 3.5rem;
  margin-left: 35%;
  margin-top: -5rem;
  position: relative;
  text-align: center;
  width: 30%;
}

.product-page-main-content {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 9rem;
  position: relative;
  z-index: 1;
}

.product-images-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 35.13rem;
  width: 100%;
}

.product-side-images-container {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 3rem;
  max-height: 35rem;
  position: relative;
  width: 25%;
}

.product-side-img {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  display: block;
  height: 5rem;
  margin-left: -4rem;
  margin-bottom: 1rem;
  object-fit: contain;
  position: relative;
  transition: all 250ms;
  width: 120%;
}

.product-side-img:hover {
  opacity: 0.75;
  transition: all 250ms;
}

.product-displayed-image {
  aspect-ratio: 1/1;
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 12px;
  height: 35rem;
  margin-left: -3rem;
  margin-top: 0;
  object-fit: contain;
  width: 99%;
}

.product-page-details h1{
  font-size: 3rem;
  height: auto;
  margin-left: 5%;
  margin-bottom: -0.5rem;
  margin-top: 1.5rem;
  width: 90%;
}

.product-page-details h2 {
  color: rgb(75, 75, 75);
  margin-bottom: -1rem;
  margin-left: 6%;
  width: 89%;
}

.product-page-price {
  color: orangered;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  margin-left: 6%;
}

.product-page-sizes-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 1.5rem;
  margin-left: 2rem;
  row-gap: 0.8rem;
  width: 40%;
}

.product-page-size-btn-container {
  position: relative;
}

.product-page-size-btn-container button {
  aspect-ratio: 1/1;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
  height: 2.5rem;
  margin-left: 10%;
  transition: all 300ms;
  width: 100%;
}

.product-page-size-btn-container button:hover {
  background-color: grey;
  transform: scale(1.1);
  transition: all 300ms;
}

.product-page-size-btn-container button:focus {
  background-color: grey;
  transform: scale(1.1);
  transition: all 300ms;
}

.product-page-add-to-cart-btn {
  background-color: black;
  border: 2px solid grey;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  height: 4rem;
  margin-left: 2rem;
  margin-top: 4rem;
  transition: all 200ms;
  width: 30%;
}

.product-page-add-to-cart-btn:hover {
  background-color: white;
  border: 1px solid blue;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 200ms;
}

.product-page-add-to-cart-btn ~p {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 10px;
  height: auto;
  margin-left: 5%;
  margin-top: 4rem;
  padding: 1rem;
  width: 75%;
}

@media (max-width: 1000px){
  .product-page-title {
    display: none;
  }

  .product-page-main-content {
    grid-template-columns: 100%;
  }

  .product-images-container {
    display: grid;
    grid-template-columns: 0% 100%;
  }

  .product-displayed-image {
    margin-left: 5%;
    width: 90%;
  }

  .product-page-details h1{
    margin-top: 5rem;
  }

  .product-page-details h2 {
    margin-top: 0.25rem;
  }

  .product-page-price-sizes {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .product-page-price {
    font-size: 3rem;
    margin-top: 5rem;
    margin-left: 40%;
    width: 60%;
  }

  .product-page-sizes-container {
    column-gap: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 1rem;
    row-gap: 5%;
    width: 80%;
  }

  .product-page-size-btn-container button{
    height: 3rem;
    margin-left: 0;
    margin-top: 2.5rem;
    width: 80%;
  }

  .home-footer {
    top: 10rem;
  }
}
